.sticky-top {
    position: sticky;
    top: 0;
    height:100vh;
  }
  .sidebar-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .sidebar-header{
    padding-top: 30px;
  }
  .sidebar-logo{
    width: 150px;
  }
  .sidebar-menu {
    margin-top: 30px;
  }
  .menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 1rem;
  }
  .more-section {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 10px;
  }
  